.vsb.form {
  padding: 2em;
  margin: 0 -2em;
  border-radius: 0.1em;
  border: solid 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 0.2em rgba(0,0,0,0.3);
          box-shadow: 0 0 0.2em rgba(0,0,0,0.3);
}
.vsb.highlight {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  height: 2em;
  line-height: 2em;
  border-radius: 0.1em;
  display: inline-block;
  padding: 0 1em;
  border: solid 1px #808080;
}
.vsb.highlight:hover {
  background-color: #808080;
  color: rgba(255,255,255,0.9);
}
.vsb.right.floated {
  float: right;
}
.vsb.toggler {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  height: 2em;
  line-height: 2em;
  border-radius: 0.1em;
  display: inline-block;
  padding: 0 1em;
  border: solid 1px #808080;
}
.vsb.toggler:hover,
.vsb.toggler.active {
  background-color: #808080;
  color: rgba(255,255,255,0.9);
}
.vsb.toggler .fas {
  margin-left: 0.5em;
}
.vsb.list .item {
  width: 100%;
  display: block;
}
.vsb.list .right.aligned {
  float: right;
}
